/* Product detail here */
.product-detail-wrapper {
    margin: 0 12%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.product-wrapper {
    display: flex;
}

.product-wrapper .product-image img{
    max-width: 294px;
    min-height: 420px;
}

.product-wrapper .product-detail {
    margin-left: 25px;
}

.product-detail p#product-name {
    font-size: 25px;
}

.product-detail p#product-author, .product-detail p#product-translator {
    margin-top: 8px;
    font-size: 14px;
    color: #eb7c26;
}

.product-detail p#product-price {
    color: #FE642E;
    font-size: 25px;
    font-weight: bold;
    margin: 8px 0;
}

.fontsize-12 {
    font-size: 12px;
}

.product-detail #promotion-info {
    opacity: 0.7;
    display: flex;
}

.product-detail #promotion-amount {
    color: #FE642E;
    font-weight: bold;
    margin-left: 3px;
}

.product-detail p#real-price {
    margin: 8px 0;
    opacity: 0.7;
}

.product-detail #product-status {
    display: flex;
}

.product-detail #product-status p {
    color: #FE642E;
    margin-left: 3px;
}

.product-detail .add-favorites {
    font-size: 14px;
    display: flex;
    margin: 8px 0;
}

.add-favorites i {
    color: #FE642E;
    margin-right: 5px;
}

.product-detail button{
    background: #fff;
    border: 1px solid #FE642E;
    color: #FE642E;
    padding: 15px 0;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
}

.product-detail button#add-to-cart:hover {
    background: #f15c22;
    color: #ffffff;
}

.product-detail button#buy-now {
    background: #f15c22;
    color: #ffffff;
    margin-left: 20px;
}
.product-detail button#buy-now:hover {
    background: #c9420d;;
}

.product-detail div#contact-info {
    display: flex;
    margin-top: 20px;
}

div#contact-info p {
    color: #FE642E;
    font-weight: bold;
    margin: 0 5px;
}

/* Contact here */

.info-promotion-wrapper p {
    font-size: 12px;
    margin-bottom: 8px;
}

.info-promotion-wrapper p i {
    margin-right: 5px;
    font-size: 12px;
}

.info-promotion-wrapper #info-promotion {
    font-weight: bold;
    font-size: 14px;
}

/* Info-detail here */

.info-detail {
    margin: 8px 12%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    color: #333;
}

.info-detail-title {
    font-weight: bold;
    font-size: 22px;
}

.info-detail ul {
    border: 1px solid rgb(225, 224, 224);
    padding-left: 0;
    margin-top: 10px;
}

.info-detail ul li {
    list-style: none;
    font-size: 15px;
    padding: 10px;
}

.info-detail ul li:nth-child(2n+1) {
    background-color: #f7f7f7;
}