/* Letter space here */
.letter-wrapper {
    width: 100%;
    padding: 10px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.letter-wrapper p:first-child {
    font-size: 20px;
    color: #f15c22;
    font-weight: bold;
}

.email-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-field input {
    min-width: 250px;
    height: 30px;
}

.email-field i {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #eb7c26;
}