.info-wrapper {
    margin: 0 12%;
}

button {
    display: block;
    background: #FE642E;
    border: 1px solid #FE642E;
    color: #ffffff;
    padding: 8px 0;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background: #c9420d;
    color: #ffffff;
}

input {
    outline: none;
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    padding-left: 5px;
    margin-bottom: 15px;
}

.update-info p{
    margin-bottom: 0.5em;
}