/* Login form here */

.login-form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    padding: 20px;
    background-color: #fcfcfc;
}

.login-form p#login-form-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-form i#required  {
    color: red;
}

.login-form input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.login-form button#button-login {
    background: #f15c22;
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border: none;
}

.login-form button#button-login:hover {
    background-color: #c9420d;
}

.login-form p#forgot-password {
    cursor: pointer;
    display: flex;
}

.login-form p#forgot-password:hover {
    text-decoration: underline;
}

.login-form .not-register {
    display: flex;
    margin-top: 10px;
}

.login-form .not-register #register-here {
    cursor: pointer;
    color: #f15c22;
    margin-left: 5px;
}

.login-form .not-register #register-here:hover {
    text-decoration: underline;
}

.login-form #back-home-page {
    margin-top: 10px;
    cursor: pointer;
}

.login-form #back-home-page i {
    color: #f15c22;
    margin-right: 5px;
}